.moetestotteBox {}

.link {
    text-decoration: none;
}

.link:hover h2 {
    text-decoration: underline;
}

.link:hover .moetestotteBox {
    box-shadow: var(--a-shadow-small);
}

.link:hover .chevron {
    transition-duration: 0.2s;
    transform: translate(3px, 0);
}
